from unittest import TestCase


class {{ MODULE|capitalize|replace("-", "_") }}Tests(TestCase):

    def test_base(self):
        from {{ MODULE }} import __version__
        self.assertTrue(__version__)
