"""
    {{PACKAGE}} description.

"""

# Package information
# ===================

__version__ = "0.1.0"
__project__ = "{{PACKAGE}}"
__author__ = "{{AUTHOR_NAME}} <{{AUTHOR_EMAIL}}>"
__license__ = "BSD"
