include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt

recursive-include {{ MODULE }} *

recursive-exlude * __pycache__
recursive-exlude * *.py[co]
recursive-exlude * *.orig
