{{ MODULE|capitalize }}
{{ '#' * MODULE|length }}

{{ MODULE }} -- Short description.

.. image:: https://secure.travis-ci.org/{{ AUTHOR }}/{{ MODULE }}.png?branch=develop
    :target: http://travis-ci.org/{{AUTHOR}}/{{MODULE}}
    :alt: Build Status

.. contents::


Requirements
=============

- python >= 2.6


Installation
=============

**{{ MODULE|capitalize }}** should be installed using pip: ::

    pip install {{ MODULE }}


Usage
=====


Bug tracker
===========

If you have any suggestions, bug reports or
annoyances please report them to the issue tracker
at https://github.com/{{ AUTHOR }}/{{ MODULE }}/issues


Contributing
============

Development of starter happens at github: https://github.com/{{ AUTHOR }}/{{ MODULE }}


Contributors
=============

* {{ AUTHOR }}_ ({{ AUTHOR_NAME }})


License
=======

Licensed under a `BSD license`_.


.. _BSD license: http://www.linfo.org/bsdlicense.html
.. _{{ AUTHOR }}: http://{{ AUTHOR }}.github.com/
