from os import path as op

from unittest import TestCase


class {{ MODULE|capitalize }}Tests(TestCase):

    def test_base(self):
        from {{ MODULE }} import __version__
        self.assertTrue(__version__)
