{{PROJECT_NAME}}
{{'#' * PROJECT_NAME|length}}

.. _description:

{{PROJECT_NAME}} -- Short description.

.. _badges:

.. image:: https://secure.travis-ci.org/{{AUTHOR}}/{{PACKAGE}}.png?branch=develop
    :target: http://travis-ci.org/{{AUTHOR}}/{{PACKAGE}}
    :alt: Build Status

.. image:: https://coveralls.io/repos/{{AUTH}}/{{PACKAGE}}/badge.png?branch=develop
    :target: https://coveralls.io/r/{{AUTHOR}}/{{PACKAGE}}
    :alt: Coverals

.. image:: https://pypip.in/d/{{PACKAGE}}/badge.png
    :target: https://pypi.python.org/pypi/{{PACKAGE}}

.. image:: https://badge.fury.io/py/{{PACKAGE}}.png
    :target: http://badge.fury.io/py/{{PACKAGE}}

.. _documentation:

**Docs are available at https://{{PACKAGE}}.readthedocs.org/. Pull requests
with documentation enhancements and/or fixes are awesome and most welcome.**

.. _contents:

.. contents::

.. _requirements:

Requirements
=============

- python >= 2.6

.. _installation:

Installation
=============

**{{PROJECT_NAME}}** should be installed using pip: ::

    pip install {{PACKAGE}}

.. _usage:

Usage
=====

.. _bugtracker:

Bug tracker
===========

If you have any suggestions, bug reports or
annoyances please report them to the issue tracker
at https://github.com/{{AUTHOR}}/{{PACKAGE}}/issues

.. _contributing:

Contributing
============

Development of starter happens at github: https://github.com/{{AUTHOR}}/{{PACKAGE}}


Contributors
=============

* {{AUTHOR}}_ ({{AUTHOR_NAME}})

.. _license:

License
=======

Licensed under a `BSD license`_.

.. _links:

.. _BSD license: http://www.linfo.org/bsdlicense.html
.. _{{AUTHOR}}: http://{{AUTHOR}}.github.com/
